clusters:
  redis_cache:
    type: redis
    nodes:
      - addr: 127.0.0.1:6379
      - addr: 127.0.0.1:6380

    health_checks:
      - type: basic
        timeout: 1s
        every: 1s
        commands:
            - [ 'SET', 'x', 'y' ]

    triggers:
      - on: [ changed ]
        do:
          - type: shell
            cwd: /tmp
            commands:
              - echo $nodes_active_addrs > nodes_list

transports:
  - type: http
    listen: 8484
    no_slave: true

  - type: raft
       no_slave: true
       address: tls://127.0.0.1:9910
       bootstrap: [ tcp://127.0.0.1:9911 ]

